
body::after{
    content: "";
    position: fixed;
    z-index: -1;   
    width: 100%;
    background-image: url('../img/dark-paths.png');
    opacity: 1.0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

h1{
    color: white;
}

input{
    width: 200px !important;
    margin: auto;
}

button{
    margin: 2px !important;
}

#buttons{
    margin-bottom: 20px;
}

.wrapper{
    padding-top: 20px;
}

.gifImages{
    width: 23%;
    height: auto;
    border-radius: 10px;
    margin: 4px;
    border: 1px darkolivegreen solid;
}

.gifImages:hover{
    border: 1px yellow solid;
}

.form-control{
    display: inline !important;
}